<app-header></app-header>
<div class="loading" *ngIf="loading"></div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form #searchMemberForm="ngForm" (ngSubmit)="onSearch(searchMemberForm)">
            <div class="col-md-12">
                <h2>Search Member</h2>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control input-lg" name="lastName" required="true" ngModel placeholder="Enter Last Name" autocomplete="off"
                        [disabled]="loading" />
                </div>
                <div class="form-group">
                    <label for="query">Mobile Number or Aadhar Number or Pan Number:</label>
                    <input type="text" class="form-control input-lg" name="query" ngModel placeholder="Enter Mobile Number or Aadhar Number or Pan Number"
                        autocomplete="off" [disabled]="loading" />
                </div>

                <hr />
                <button type="submit" class="btn btn-info btn-lg" [disabled]="loading">Search</button>
                <a routerLink="/" class="btn btn-default btn-lg">Cancel</a>
            </div>
        </form>
    </div>
</div>

<br /><br /><br />

<div class="col-sm-6 col-sm-offset-3" [hidden]="!notificationFlag">
    <div class="alert alert-danger alert-dismissable fade in" *ngIf="errFlag">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ errMessage }}
    </div>

    <div class="alert alert-success alert-dismissable fade in" *ngIf="successFlag">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ successMessage }}
    </div>
</div>

<br /><br /><br />

<div class="col-md-12" *ngIf="successFlag">
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <td><strong>First Name</strong></td>
                <td><strong>Middle Name</strong></td>
                <td><strong>Last Name</strong></td>
                <td><strong>Mobile</strong></td>
                <td><strong>Address</strong></td>
                <td><strong>Pan</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: middle;" *ngFor="let member of members; let i = index;">
                <td>{{ member.firstName }}</td>
                <td>{{ member.middleName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.mobile }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.panNo }}</td>
                <td><a class="btn btn-info" routerLink="/deposit/fixed/new/{{member._id}}">Select</a></td>
            </tr>
        </tbody>
    </table>
</div>